<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970688242747-7hf9d5v77qcbbaktov93omns72hm2e5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970688242747-7hf9d5v77qcbbaktov93omns72hm2e5b</string>
	<key>API_KEY</key>
	<string>AIzaSyChrL-ne3VSdoYOU8cA2XML6CctRqaMG1g</string>
	<key>GCM_SENDER_ID</key>
	<string>970688242747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireGuardian</string>
	<key>PROJECT_ID</key>
	<string>db-fire-guardian</string>
	<key>STORAGE_BUCKET</key>
	<string>db-fire-guardian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970688242747:ios:354dccb5106c8c953aa81e</string>
</dict>
</plist>